# Merging or Joining Dataframes

<h3 style="color:red;">Task</h3>
<br/>
<b style="color:blue;">Lets Look at how DataFrames can be merged.</b>

In [ ]:
# Importing the Libraries

import pandas as pd

In [ ]:
# Reading the datasets from the Github Repository

students = pd.read_csv("/usr/local/notebooks/datasets/student_table.csv")
countries = pd.read_csv("/usr/local/notebooks/datasets/student_country.csv")

<h3 style="color:red;">Dataset Description</h3>
<br/>
<ul>
  <li>Students Dataset is about different Students in a class </li>
  <li>Countries Dataset contains the student_id along with their Country </li>
</ul>

In [ ]:
# Printing the First 5 rows of students

students.head()

In [ ]:
# Printing the First 5 rows of countries

countries.head()

<h3 style="color:red;">Inner Join</h3>
<br/>
<b style="color:blue;">It joins the 2 tables by joining the rows having a column or columns same as specified.</b>

In [ ]:
result = pd.merge(students, countries, on="student_id", how="inner")

In [ ]:
result.head()

In [ ]:
result.tail()

In [ ]:
result.shape

<h3 style="color:red;">Left Outer Join</h3>
<br/>
<b style="color:blue;">It joins the 2 tables by joining the rows having a column or columns same as specified and keeping all the rows from the left table even if match is not found. </b>

In [ ]:
result = pd.merge(students, countries, on="student_id", how="left")

In [ ]:
result.head()

In [ ]:
result.tail()

In [ ]:
result.shape

<h3 style="color:red;">Right Outer Join</h3>
<br/>
<b style="color:blue;">It joins the 2 tables by joining the rows having a column or columns same as specified It joins the 2 tables by joining the rows having a column or columns same as specified and keeping all the rows from the right table even if match is not found.</b>

In [ ]:
result = pd.merge(students, countries, on="student_id", how="right")

In [ ]:
result.head()

In [ ]:
result.tail()

In [ ]:
result.shape

<h3 style="color:red;">Conclusion</h3>
<br/>
<ul>
  <li>Notice the Shape of the above results </li>
  <li>Left Join keeps all the rows from the left table and placing NaN for the corresponding rows in the <b>right</b> table </li>
    <li>Right Join keeps all the rows from the Right table and placing NaN for the corresponding rows in the <b>left</b> table</li>
</ul>

# Concatenating Dataframes

In [ ]:
# Reading the datasets from the Github Repository

df1 = pd.read_csv("/usr/local/notebooks/datasets/data1_concatenate.csv")
df2 = pd.read_csv("/usr/local/notebooks/datasets/data2_concatenate.csv")

<h3 style="color:red;">Dataset Description</h3>
<br/>
<ul>
  <li>df1 is containing the first_name, last_name and email of a person</li>
  <li>df2 also contains the same but contains some other rows </li>
</ul>

In [ ]:
# Printing the First 5 rows of students

df1.head()

In [ ]:
# Printing the First 5 rows of students

df2.head()

In [ ]:
df1.shape

In [ ]:
df2.shape

<h3 style="color:red;">Along Axis = 0</h3>
<br/>
<p> Concatenating Dataframes concatenates one Dataframe <b style="color:blue;">below</b> the other i.e row wise</p>

In [ ]:
result = pd.concat([df1, df2], axis=0)

In [ ]:
result.head()

In [ ]:
result.shape

<h3 style="color:red;">Along Axis = 1</h3>
<br/>
<p> Concatenating Dataframes concatenates one Dataframe <b style="color:blue;">along</b> the other i.e column wise</p>

In [ ]:
df3 = pd.read_csv("/usr/local/notebooks/datasets/data3_concatenate.csv")

In [ ]:
df3.head()

In [ ]:
df3.shape

In [ ]:
result = pd.concat([df1, df3], axis=1)

In [ ]:
result.head()

In [ ]:
result.tail()

In [ ]:
result.shape

<h3 style="color:red;">Conclusion</h3>
<br/>
<ul>
  <li>Concatenating Dataframes along axis = 0 appends one Dataframe below the other</li>
  <li>Concatenating Dataframes along axis = 1 adds one Dataframe along the other as can be seen from above. It is like performing the Full Outer Join. Placing NaN for non-matching rows in the left as well as right Dataframes. 
   </li>
</ul>